/* General */

    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    html, body {
        width: 100%;
    }

    body {
        background-color: #111111;
        background-image: url("../img/bg.png");
        color: #FFFFFF;
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        padding: 20px;
    }

    a {
        color: #00C6FF;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .clear {
        clear: both;
    }

/* Header */

    header {
        background-color: #111111;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #222222;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #000000;
    }

    header img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }

    header h1 {
        font-weight: 100;
        font-size: 3.5em;
    }

    #header-left {
        float: left;
    }

    #header-right {
        display: table;
        height: 20vw;
        margin-left: 2vw;
        float: left;
        border-left: 1px solid #FFFFFF;
        padding-left: 2vw;
    }

        #header-right-inner {
            display: table-cell;
            vertical-align: middle;
        }

            #news {
                margin-top: 20px;
            }

                #news h2 {
                    font-size: 1.5em;
                    font-weight: 300;
                }

                #news ul {
                    display: block;
                    list-style-type: none;
                }

        #header-right p.sep {
            margin-top: 1em;
        }

    @media(max-width: 1000px) {
        header {
            text-align: center;
        }

        header h1 {
            font-size: 2.5em;
            margin: 10px 0;
            padding: 5px;
            border-top: 1px solid #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
        }

        #header-left, #header-right {
            width: 100%;
            margin: 0;
            padding: 0;
            float: none;
        }

        #header-right {
            height: auto;
            border: none;
        }

        #header-right p:not(.sep) {
            display: inline;
        }
    }

    @media(max-width: 700px) {
        header h1 {
            font-size: 1.5em;
            padding: 5px;
        }
    }

/* Portfolio */

    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
    }

    .portfolio-item {
        display: inline-block;

        width: -webkit-calc(33.33vw - 10px - 20px);
        width: -moz-calc(33.33vw - 10px - 20px);
        width: -ms-calc(33.33vw - 10px - 20px);
        width: -o-calc(33.33vw - 10px - 20px);
        width: calc(33.33vw - 10px - 20px);

        height: -webkit-calc(33.33vw - 10px - 20px);
        height: -moz-calc(33.33vw - 10px - 20px);
        height: -ms-calc(33.33vw - 10px - 20px);
        height: -o-calc(33.33vw - 10px - 20px);
        height: calc(33.33vw - 10px - 20px);

        background-color: #111111;
        margin-bottom: 20px;
        padding: 10px;
        border: 2px solid #222222;
        border-radius: 50%;
        float: left;
        box-shadow: 0 0 10px 0 #000000;
    }

        .portfolio-item.dummy {
            visibility: hidden;
        }

        @media(max-width: 1000px) {
            .portfolio-item.dummy {
                display: none;
            }
        }

    .portfolio-item a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-style: normal;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .primary,
    .secondary {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .secondary {
        width: 102%;
        height: 102%;
        display: table;
        color: #FFFFFF;

        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        -ms-transition: -ms-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        transition: transform 0.3s;

        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);

        top: -1%;
        left: -1%;
    }

        .portfolio-item:nth-of-type(4n+1) .secondary {
            background-color: rgba(255, 48, 0, 0.9);
        }
        .portfolio-item:nth-of-type(4n+2) .secondary {
            background-color: rgba(255, 136, 0, 0.9);
        }
        .portfolio-item:nth-of-type(4n+3) .secondary {
            background-color: rgba(110, 180, 0, 0.9);
        }
        .portfolio-item:nth-of-type(4n) .secondary {
            background-color: rgba(0, 198, 255, 0.9);
        }

        .portfolio-item a:hover .secondary {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

    .secondary > div {
        display: table-cell;
        vertical-align: middle;
        font-weight: 400;
        padding: 20px;
        text-align: center;
    }

    .secondary p {
        text-align: center;
    }

    @media(max-width: 1000px) {
        .portfolio-item {
            width: -webkit-calc(50vw - 10px - 20px);
            width: -moz-calc(50vw - 10px - 20px);
            width: -ms-calc(50vw - 10px - 20px);
            width: -o-calc(50vw - 10px - 20px);
            width: calc(50vw - 10px - 20px);

            height: -webkit-calc(50vw - 10px - 20px);
            height: -moz-calc(50vw - 10px - 20px);
            height: -ms-calc(50vw - 10px - 20px);
            height: -o-calc(50vw - 10px - 20px);
            height: calc(50vw - 10px - 20px);
        }
    }

    @media(max-width: 700px) {
        .portfolio-item {
            width: -webkit-calc(100vw - 10px - 20px);
            width: -moz-calc(100vw - 10px - 20px);
            width: -ms-calc(100vw - 10px - 20px);
            width: -o-calc(100vw - 10px - 20px);
            width: calc(100vw - 10px - 20px);

            height: -webkit-calc(100vw - 10px - 20px);
            height: -moz-calc(100vw - 10px - 20px);
            height: -ms-calc(100vw - 10px - 20px);
            height: -o-calc(100vw - 10px - 20px);
            height: calc(100vw - 10px - 20px);
        }

        .secondary {
            -webkit-transform: translateY(50%) !important;
            -moz-transform: translateY(50%) !important;
            -ms-transform: translateY(50%) !important;
            -o-transform: translateY(50%) !important;
            transform: translateY(50%) !important;
            font-size: 0.8em;
        }

        .secondary > div {
            display: block;
            padding: 20px 25%;
        }
    }

/* Footer */

    #main-footer {
        background-color: #111111;
        text-align: center;
        margin: 20px -20px -20px -20px;
        padding: 20px;
        border-top: 1px solid #222222;
        box-shadow: 0 0 10px 0 #000000;
    }

        #main-footer small {
            font-size: 0.7em;
        }
